html, body {
    min-height: 100%;
    font-family: 'Century Gothic', sans-serif;
}
html {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #2b2b2b, #373737);
}
body {
    padding: 50px 15px;
    width: 500px;
    margin: 0 auto;
}

.upper-area {
    padding-right: 9px;
    padding-bottom: 10px;
}

.cd {
    overflow: hidden;
    font-weight: bold;
    padding: 3px;
    border: 5px solid #222222;
    margin: 5px;
    float: left;
    width: 40px;
    height: 60px;
    z-index: 999;
    cursor: pointer;
    position: relative;
    box-shadow: 0px -3px 4px 1px rgba(0,0,0,0.5);
    border-radius: 3px;
    user-select: none;
}

.cd * {
    pointer-events: none;
}

.cd.f {
    background-color: #434343;
    border-color: #505050;
    background-image: repeating-linear-gradient(55deg, transparent, transparent 18px, #9c9c9c 19px, transparent 20px),
    repeating-linear-gradient(-55deg, transparent, transparent 18px, #565656 19px, transparent 20px),
    linear-gradient(to bottom, #2d2c2c, #3b3b3b);
}

.cd.s, .cd.c {
    color: #525252;
    background-color: #181818;
    background-image: linear-gradient(to bottom, #111111, #181818);
    border-color: #252525;
}
.cd.h, .cd.d {
    color: #c31515;
    background-color: #640000;
    background-image: linear-gradient(to bottom, #580000, #640000);
    border-color: #740808;
}

.cd p, .cd h2 {
    margin: 0;
    line-height: 1;
}
.cd h2 {
    text-align: center;
    padding: 10px 0 0;
}
.cd hr {
    opacity: 0.5;
    margin: 2px;
    border-width: 1px 0 0 0;
    border-style: solid;
}
.cd i {
    display: inline-block;
    margin: 3px;
    height: 0;
    width: 0;
    border: 2px solid;
    border-radius: 50%;
}

.stacks {
    clear: both;
}

.stack {
    width: 14%;
    padding-top: 60px;
    float: left;
}

.stack .cd {
    margin: -50px 5px 0;
}
.refuse-pile {
    width: 144px;
    padding: 0 0 20px 60px;
}
.refuse-pile .cd {
    float: left;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 5px;
    transition: margin-left 0.5s;
}
.refuse-pile .cd.f {
    margin-left: -54px;
}

.closet {
    float: right;
    background-color: #222222;
    border-radius: 2px;
    width: 57px;
    height: 80px;
    padding: 4px;
    margin: 0 5px 0 0;
}
.closet .cd {
    margin: -75px 0 0;
}
.closet .cd:first-child {
    margin: 0;
}
.closet:before {
    pointer-events: none;
    text-align: center;
    height: 100%;
    position: absolute;
    width: 58px;
    line-height: 80px;
    font-size: 40px;
    color: #444444;
}
.closets:before {
    content: "S";
}
.closetd:before {
    content: "D";
}
.closetc:before {
    content: "C";
}
.closeth:before {
    content: "H";
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}